<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<configuration>

	<springProfile name="default">
	    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder>
	            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
	        </encoder>
	    </appender>
	    
	    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    <encoder>
		        <charset>UTF-8</charset>
		        <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
		    </encoder>

		    <file>C:/logs/custom_met/local/app.log</file>

		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		        <fileNamePattern>C:/logs/custom_met/local/app.%d{yyyy-MM-dd}.log</fileNamePattern>
		        <maxHistory>30</maxHistory>
		    </rollingPolicy>
		</appender>


	    <logger name="com.custom.met" level="DEBUG" />

	    <root level="WARN">
	        <appender-ref ref="console" />
	        <appender-ref ref="file" />
	    </root>
	</springProfile>
	<springProfile name="local">
	    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder>
	            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
	        </encoder>
	    </appender>
	    
	    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    <encoder>
		        <charset>UTF-8</charset>
		        <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
		    </encoder>

		    <file>C:/logs/custom_met/local/app.log</file>

		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		        <fileNamePattern>C:/logs/custom_met/local/app.%d{yyyy-MM-dd}.log</fileNamePattern>
		        <maxHistory>30</maxHistory>
		    </rollingPolicy>
		</appender>


	    <logger name="com.custom.met" level="DEBUG" />

	    <root level="WARN">
	        <appender-ref ref="console" />
	        <appender-ref ref="file" />
	    </root>
	</springProfile>
	<springProfile name="dev">
	    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder>
	            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
	        </encoder>
	    </appender>
	    
	    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    <encoder>
		        <charset>UTF-8</charset>
		        <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
		    </encoder>

		    <file>C:/logs/custom_met/dev/app.log</file>

		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		        <fileNamePattern>C:/logs/custom_met/dev/app.%d{yyyy-MM-dd}.log</fileNamePattern>
		        <maxHistory>30</maxHistory>
		    </rollingPolicy>
		</appender>


	    <logger name="com.custom.met" level="DEBUG" />

	    <root level="WARN">
	        <appender-ref ref="console" />
	        <appender-ref ref="file" />
	    </root>
	</springProfile>
	<springProfile name="stage">
	    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder>
	            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
	        </encoder>
	    </appender>
	    
	    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    <encoder>
		        <charset>UTF-8</charset>
		        <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
		    </encoder>

		    <file>C:/logs/custom_met/stage/app.log</file>

		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		        <fileNamePattern>C:/logs/custom_met/stage/app.%d{yyyy-MM-dd}.log</fileNamePattern>
		        <maxHistory>30</maxHistory>
		    </rollingPolicy>
		</appender>


	    <logger name="com.custom.met" level="DEBUG" />

	    <root level="WARN">
	        <appender-ref ref="console" />
	        <appender-ref ref="file" />
	    </root>
	</springProfile>
	<springProfile name="prod">
	    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder>
	            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
	        </encoder>
	    </appender>
	    
	    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    <encoder>
		        <charset>UTF-8</charset>
		        <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{identifier}] [%logger{0}.%method:%line]: %msg%n</pattern>
		    </encoder>

		    <file>C:/logs/custom_met/prod/app.log</file>

		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		        <fileNamePattern>C:/logs/custom_met/prod/app.%d{yyyy-MM-dd}.log</fileNamePattern>
		        <maxHistory>30</maxHistory>
		    </rollingPolicy>
		</appender>


	    <logger name="com.custom.met" level="DEBUG" />

	    <root level="WARN">
	        <appender-ref ref="console" />
	        <appender-ref ref="file" />
	    </root>
	</springProfile>


</configuration>